<style type="text/css">
  body{
    background-image: url(<%= getImageByCode("01") == false ? image_url('fruits.jpg') : getImageByCode("01") %>);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 700px;
  }
  /* The white background content wrapper */
  .container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 20px 0 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }
  .alert{
    padding: 0;
    text-align: center;
    color: red;
    box-shadow: none;
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .login-form {
    margin-left: 30px;
    margin-right: 30px;
  }
  .language-wrapper{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
  }
  .login-actions{
    text-align: right;
    margin-top: 10px;
  }
</style>

<div class="container" style="max-width:500px;padding-top:30px;">
<div class="content">
  <div class="row">
    <div class="login-form">
      <h4><%= t('login_greeting') %></h4>
      <%=form_tag sessions_path do %>
        <div class="alert alert-danger hidden" role="alert"></div>
        <fieldset>
          <div class="clearfix">
            <%=text_field_tag :email, nil, class:"form-control", placeholder: t('mail')  %>
          </div><br />
          <div class="clearfix">
            <%=password_field_tag :password, nil, class:"form-control", placeholder: t('password')  %>
          </div>
          <div class="login-actions">
            <%=link_to t('sign_up'), new_user_path%>&nbsp;&nbsp;
            <%=submit_tag t('login'), class:"btn btn-primary"%>
          </div><br />
          <div class="language-wrapper">
            <%=link_to "English", :locale=>'en' %>&nbsp;&nbsp;
            <%=link_to "日本語", :locale=>'ja' %>
          </div>
        </fieldset>
      <% end %>
    </div>
    <p class="alert"><%=flash[:alert] %></p>
  </div>
</div>
</div>
