<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('mail') %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('birthdate') %>:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong><%= t('password') %>:</strong>
  <%= @user.password %>
</p>

<%= link_to t('edit'), edit_user_path(@user) %> |
<%= link_to t('back'), users_path %>
