<div class="container">
<div class="text-center">
	<h3><%= t('show_qr_to_staff') %></h3>
	<img src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl=<%=session['user_id']%>&choe=UTF-8" style="width:100%;max-width:400px;"/>
	<p>
		<%= image_tag 'dummy_person.jpg', class:"img-circle img-thumbnail", size:"100x100" %><br/>
		<strong><%= t('name') %>:</strong><%=session['user_name']%> <%= t('salutation') %><br/>
		<strong><%= t('member_number') %>:</strong><%=session['user_id']%><br/>
		<strong><%= t('points') %>:</strong><%=@user['hd_point__c']%>
	</p>
</div>
</div>
